.pictures-wrapper{
    margin-top: 100px;
}

.main-picture{
    width: 509px;
    height: 200px;
    margin-bottom: 30px;
    cursor: pointer;
}

.secondary-picture{
    width: 160px;
    height: 100px;
    margin-bottom: 30px;
    cursor: pointer;
}

img{
    width: 100%;
}